workspace
workspace/
.Xauthority
.bash_history
.cache/
.calcurse/apts
.calcurse/todo
.config/GitKraken/
.config/dconf/
.config/gtk-2.0/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/nvim/
.config/pulse/
.esd_auth
.fontconfig/
.gitconfig
.gitkraken/
.lesshst
.local/share/newsboat/
.local/share/nvim/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/xorg/
.local/share/zathura/
.mozilla/
.pki/
.shortcuts
.ssh/
.vifmshortcuts
.viminfo
larbs.sh
link
tmp.txt
